<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
	  <wizard
            category="org.eventb.ui.wizards"
            class="ch.ethz.eventb.internal.inst.wizard.GenInstWizard"
            finalPerspective="org.eventb.ui.perspective.eventb"
            id="ch.ethz.eventb.inst.wizard"
            name="%wizardName">
      </wizard>
   </extension>

</plugin>
