<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eventb.ui.wizards"
            class="ch.ethz.eventb.internal.decomposition.ui.wizards.DecompositionWizard"
            finalPerspective="org.eventb.ui.perspective.eventb"
            icon="icons/decomposition_icon.png"
            id="ch.ethz.eventb.decomposition.wizard"
            name="%wizardName">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eventb.ui.MachineFile"
            objectClass="org.eventb.core.IMachineRoot">
         <action
               class="ch.ethz.eventb.internal.decomposition.ui.actions.Decompose"
               enablesFor="1"
               icon="icons/decomposition_icon.png"
               id="org.eventb.ui.decompose"
               label="%popupMenu.decompose.label"
               menubarPath="modelling"
               style="push"
               tooltip="%popupMenu.decompose.tooltip">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="fr.systerel.explorer.navigator.viewActions.toolbar"
            targetID="fr.systerel.explorer.navigator.view">
         <action
               class="ch.ethz.eventb.internal.decomposition.ui.actions.Decompose"
               icon="icons/decomposition_icon.png"
               id="fr.systerel.explorer.navigator.actions.decompose"
               label="%viewActions.decompose.label"
               style="push"
               toolbarPath="new"
               tooltip="%viewActions.decompose.tooltip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="nature"
            kind="integer"
            name="%eventBNatureAttribute">
      </attributeType>
      <attributeType
            id="external"
            kind="boolean"
            name="%eventBExternalAttribute">
      </attributeType>
      <attributeType
            id="decomposed"
            kind="boolean"
            name="%eventBDecomposedAttribute">
      </attributeType>
   </extension>
  <extension point="org.eventb.ui.editorItems"> 
      
      <choiceAttribute
            class="ch.ethz.eventb.internal.decomposition.astyle.NatureAttributeManipulation"
            expandsHorizontally="false"
            id="org.eventb.ui.nature"
            required="true"
            typeId="ch.ethz.eventb.decomposition.nature">
      </choiceAttribute>
      <choiceAttribute
            class="ch.ethz.eventb.internal.decomposition.astyle.ExternalAttributeManipulation"
            expandsHorizontally="false"
            id="org.eventb.ui.external"
            required="true"
            typeId="ch.ethz.eventb.decomposition.external">
      </choiceAttribute>
      <attributeRelation
            elementTypeId="org.eventb.core.event">
         <attributeReference
               descriptionId="org.eventb.ui.external">
         </attributeReference>
      </attributeRelation>
      <attributeRelation
            elementTypeId="org.eventb.core.variable">
         <attributeReference
               descriptionId="org.eventb.ui.nature">
         </attributeReference>
      </attributeRelation>
      
      
   </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eventb.core.IEvent"
           class="ch.ethz.eventb.internal.decomposition.astyle.EventAdapterFactory">
        <adapter
              type="ch.ethz.eventb.decomposition.astyle.IExternalElement">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eventb.core.IVariable"
           class="ch.ethz.eventb.internal.decomposition.astyle.VariableAdapterFactory">
        <adapter
              type="ch.ethz.eventb.decomposition.astyle.INatureElement">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eventb.core.ISCVariable"
           class="ch.ethz.eventb.internal.decomposition.astyle.VariableAdapterFactory">
        <adapter
              type="ch.ethz.eventb.decomposition.astyle.INatureElement">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eventb.core.ISCEvent"
           class="ch.ethz.eventb.internal.decomposition.astyle.EventAdapterFactory">
        <adapter
              type="ch.ethz.eventb.decomposition.astyle.IExternalElement">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eventb.core.IMachineRoot"
           class="ch.ethz.eventb.internal.decomposition.RootAdapterFactory">
        <adapter
              type="ch.ethz.eventb.decomposition.IDecomposedElement">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eventb.core.IContextRoot"
           class="ch.ethz.eventb.internal.decomposition.RootAdapterFactory">
        <adapter
              type="ch.ethz.eventb.decomposition.IDecomposedElement">
        </adapter>
     </factory>
  </extension>
  <extension
        point="org.eventb.core.configurations">
     <configuration
           id="mchBase"
           name="%mchBase">
        <config
              id="org.eventb.core.fwd">
        </config>
        <scModule
              id="ch.ethz.eventb.decomposition.varModule">
        </scModule>
        <scModule
              id="ch.ethz.eventb.decomposition.evtModule">
        </scModule>
        <scModule
              id="ch.ethz.eventb.decomposition.refinesModule">
        </scModule>
        <scModule
              id="ch.ethz.eventb.decomposition.machineModule">
        </scModule>
        <scModule
              id="ch.ethz.eventb.decomposition.contextModule">
        </scModule>
     </configuration>
     <configuration
           id="pogConfig"
           name="%pogConfig">
        <pogModule
              id="ch.ethz.eventb.decomposition.pogContextModule">
        </pogModule>
        <pogModule
              id="ch.ethz.eventb.decomposition.pogMachineModule">
        </pogModule>
     </configuration>
  </extension>
  <extension
        point="org.eventb.core.scModuleTypes">
     <filterType
           class="ch.ethz.eventb.internal.decomposition.sc.astyle.MachineVariableModule"
           id="varModule"
           name="%varModule"
           parent="org.eventb.core.machineVariableModule">
     </filterType>
     <filterType
           class="ch.ethz.eventb.internal.decomposition.sc.astyle.MachineEventModule"
           id="evtModule"
           name="%evtModule"
           parent="org.eventb.core.machineEventModule">
     </filterType>
     <processorType
           class="ch.ethz.eventb.internal.decomposition.sc.astyle.MachineRefinesModule"
           id="refinesModule"
           name="%refinesModule"
           parent="org.eventb.core.machineModule">
        <prereq
              id="ch.ethz.eventb.decomposition.varModule">
        </prereq>
        <prereq
              id="ch.ethz.eventb.decomposition.evtModule">
        </prereq>
        <prereq
              id="org.eventb.core.machineEventExtendedModule">
        </prereq>
     </processorType>
     <processorType
           class="ch.ethz.eventb.internal.decomposition.sc.ContextModule"
           id="contextModule"
           name="%contextModule"
           parent="org.eventb.core.contextModule">
     </processorType>
     <processorType
           class="ch.ethz.eventb.internal.decomposition.sc.MachineModule"
           id="machineModule"
           name="%machineModule"
           parent="org.eventb.core.machineModule">
     </processorType>
  </extension>
  <extension
        point="org.eventb.core.pogModuleTypes">
     <rootType
           class="ch.ethz.eventb.internal.decomposition.pog.POGContextProcessorModule"
           id="pogContextModule"
           input="org.eventb.core.scContextFile"
           name="%pogContextModule">
     </rootType>
     <rootType
           class="ch.ethz.eventb.internal.decomposition.pog.POGMachineProcessorModule"
           id="pogMachineModule"
           input="org.eventb.core.scMachineFile"
           name="%pogMachineModule">
     </rootType>
  </extension>

</plugin>
